[project]
	description = This is just a sample repo for git
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jmsoan
[access "refs/for/refs/*"]
	read = group user/jmsoan
	push = group user/jmsoan
	label-Code-Review = -2..+2 group user/jmsoan
	label-Verified = -1..+1 group user/jmsoan
	rebase = group user/jmsoan
	removeReviewer = group user/jmsoan
	submit = group user/jmsoan
[access "refs/heads/*"]
	read = group user/jmsoan
	create = group user/jmsoan
	push = +force group user/jmsoan
	pushMerge = group user/jmsoan
[access "refs/tags/*"]
	push = +force group user/jmsoan
	pushTag = group user/jmsoan
	pushSignedTag = group user/jmsoan
